.messageContainer {
    margin-bottom  : 20px;
    padding        : 10px;
    border         : 2px solid rgb(var(--venia-orange));
    border-radius  : 10px;
    text-align     : center;
    text-transform : uppercase;
    font-weight    : bold;
    font-size      : 1.5rem;
}


