/* The switch - the box around the slider */
.switch {
    position : relative;
    display  : inline-block;
    width    : 30px;
    height   : 17px;
}

.switch:after {
    content : attr(data-label);
}

/* Hide default HTML checkbox */
.switch .checkbox {
    opacity : 0;
    width   : 0;
    height  : 0;
}

/* The slider */
.slider {
    position           : absolute;
    cursor             : pointer;
    top                : 0;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-color   : #CCC;
    -webkit-transition : .4s;
    transition         : .4s;
}

.slider:before {
    position           : absolute;
    content            : "";
    height             : 13px;
    width              : 13px;
    left               : 2px;
    bottom             : 2px;
    background-color   : white;
    -webkit-transition : .4s;
    transition         : .4s;
}

.checkbox:checked + .slider {
    background-color : #2196F3;
}

.checkbox:focus + .slider {
    box-shadow : 0 0 1px #2196F3;
}

.checkbox:checked + .slider:before {
    -webkit-transform : translateX(13px);
    -ms-transform     : translateX(13px);
    transform         : translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius : 17px;
}

.slider.round:before {
    border-radius : 50%;
}

.visuallyHidden {
    border   : 0;
    clip     : rect(0, 0, 0, 0);
    height   : 1px;
    margin   : -1px;
    overflow : hidden;
    padding  : 0;
    position : absolute;
    width    : 1px;
}
