.root {
    border        : 2px solid var(--border-grey);
    border-radius : 14px;
}

.images {
    display             : grid;
    grid-template-areas : 'main';
    margin-bottom       : 0.65rem;
}

.imageContainer {
    grid-area     : main;
    border-bottom : 2px solid var(--border-grey);
}

.image {
    display                    : block;
    height                     : auto;
    opacity                    : 1;
    transition-duration        : 512ms;
    transition-property        : opacity, visibility;
    transition-timing-function : ease-out;
    visibility                 : visible;
    width                      : 100%;
    border-radius              : 14px;
}

.imagePlaceholder {
    composes         : image;
    background-color : rgb(var(--venia-grey));
}

.productDetails {
    display        : flex;
    flex-direction : column;
    padding        : 15px;
}

.name {
    display       : block;
    font-size     : 16px;
    font-weight   : 600;
    margin-bottom : 30px;
}


.productDescription {

}
.sku {
    font-size : 12px;
    color     : var(--text-light);
}

.priceInner {
    display        : flex;
    flex-direction : column;
}

.priceFromLabel {
    font-size : 12px;
    color     : var(--text-light);
}

.priceContainer {
    display        : flex;
    flex-direction : column;
    border-top     : 2px solid var(--border-grey);
    padding: 15px;
}

.priceValue {
    font-size   : 18px;
    font-weight : 700;
    color: var(--brand-blue);
    margin-top: 10px;
}

/* state: pending */

.root_pending {
    composes : root;
}

.image_pending {
    composes         : image;
    background-color : rgb(var(--venia-grey));
}

.images_pending {
    composes : images;
}

.name_pending {
    composes         : name;
    background-color : rgb(var(--venia-grey));
}

.price_pending {
    composes         : priceValue;
    background-color : rgb(var(--venia-grey));
    width            : 3rem;
}
