.root {
    padding : 1rem;
}

.categoryTitleContainer {
    background-color : var(--brand-blue);
    color            : #FFF;
    padding          : 40px;
    border-radius    : 14px;
    margin-bottom    : 32px;
}

.title {
    font-size     : 40px;
    font-weight   : 600;
    margin-bottom : 0;
}

.pagination {
    position : relative;
    bottom   : 0;
}

.placeholder {
    height : 100vh;
}

.headerButtons {
    display         : flex;
    justify-content : center;
    padding-bottom  : 1.5rem;
}

.filterButton {
    margin-left   : 0.5rem;
    display       : inline-block;
    padding       : 0.75rem 2rem;
    border        : 1px solid black;
    border-radius : 3px;
    color         : black;
    outline       : none;
}


.sortContainer {
    color          : rgb(var(--venia-text-alt));
    text-align     : center;
    font-size      : 0.875rem;
    padding-bottom : 1rem;
}

.sortText {
    font-weight : 600;
}
